<form *ngIf="showAddTask" (ngSubmit)="onSubmit()">
    <div >
        <label for="text">Task</label>
        <input class="form-control" type="text" name="text" [(ngModel)]="text" id="text" placeholder="Add Task" />
    </div>
    <div >
        <label for="day">Day & Time</label>
        <input class="form-control" type="text" name="day" [(ngModel)]="day" id="day" placeholder="Add Day & Time" />
    </div>
    <div style="display: flex;">
        <label for="reminder">Set Reminder</label>
        <input class="form-control-check" type="checkbox" name="reminder" [(ngModel)]="reminder" id="reminder" />
    </div>
    <input style="margin-bottom: 3rem;" type="submit" value="Save" class="btn btn-block" />
</form>